body{
background-color:#00002b;
}

a{
text-decoration:none;
color:white;
}

h1{
color:white;
}

h2{
color:white;
}

p{
color:white;
}

#wrapper{
background-color:white;
height:600px;
width:100%;
padding:0px;
}

#header{
background-color:#00002b;
width:100%;
height:150px;
padding:0px;
border:1px solid white;
color:white;
}

#sidebar{
height:550px;
width:250px;
float:left;
background-color:#00002b;
border:1px solid white;
padding:10px;
}

#body{
background-color:#00002b;
width:1315px;
height:550px;
border:1px solid white;
padding:10px;
}